body {
  margin: 0;
  font-size: 1.2rem;
}
* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
.wraper {
  width: 100%;
}
.top-header {
  height: 90vh;
  font-size: 1rem;
  position: relative;
}
.bg-video {
  width: 100%;
  height: 100%;
  /* use object fit to cover white space */
  object-fit: cover;
}
.hero {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.285);
  padding: 10px;
  position: absolute;
  top: 30vh;
  left: 10vw;
  backdrop-filter: blur(20px);
}
.down {
  color: red;
  font-size: 4rem;
  transform: rotate(90deg);
  position: absolute;
  bottom: 100px;
  left: 50%;
  animation: down 1s infinite;
}
@keyframes down {
  0% {
    bottom: 100px;
    left: 50%;
  }
  100% {
    bottom: 0px;
    left: 50%;
  }
}

nav {
  background: black;
  color: orange;
  position: sticky;
  top: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}
.menu > ul > li {
  list-style: none;
  cursor: pointer;
}
.menu > ul > li:hover {
  transform: scale(2px);
  font-size: 1.3rem;
}
[class^="img"] {
  height: 100vh;
  position: relative;
}
.img1 {
  background: url("./assists/images/comuter_show.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.img2 {
  background: url("./assists/images/computer_show1.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.img3 {
  background: url("./assists/images/hacker.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.img4 {
  background: url("./assists/images/coding.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 100px;
  background: rgba(0, 0, 0, 0.365);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  border-radius: 5px;
}
footer {
  height: 50px;
  background: black;
  color: orange;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
